@import url('../../assets/styles/variables.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 1.6rem;
}

.imageContainer {
  height: 5rem;
}

.logo {
  width: auto;
  height: 100%;
}

.containerBtn {
  display: flex;
  gap: 10px;
}
