@import url('../../assets/styles/variables.css');

.containerHow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

h2 {
  padding: 2rem;
}

.sectionHow {
  background-color: var(--bg-color);
}
