@import url('../../assets/styles/variables.css');

.containerHow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.sectionHow h2 {
  padding: 2rem;
}

.sectionHow {
  background-color: var(--bg-color);
  padding-bottom: 6.4rem;
}
