.sectionTrustedBy {
  width: 100%;
  padding: 1.6rem 0rem;
  margin-bottom: 4.4rem;
}

.logosContainer {
  width: 100%;
  overflow: hidden;

  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 70%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
}
